@import "bootstrap-sprockets";
@import "bootstrap";
// @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
// @import url(https://fonts.googleapis.com/css?family=Droid+Serif);

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  // box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background: url('/assets/brushed.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar.navbar-inverse {
  background: url('/assets/footer_lodyas.png');
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-inverse .navbar-brand {
    color: #feff00;
    font-family: 'intro_rust_gbase_2_line';
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Droid Serif', serif;
    font-size: 30px;
}
